@import '../../../public/style/base/mixins';
.questions{
  @include main-padding;
  &__block{
    margin-top: 46px;
  }
}

.more {
  @include text-fz($fz-18, $base, $fz-14);
  @extend %RubikMedium;
  color: $red;
  text-decoration: underline;
  margin-top: 16px;
  @include hover-focus-active{
    color: $red;
  }
}