@import "../../../public/style/base/mixins";

.firsBlock {
  margin-bottom: 72px;
  > div {
    @include main-padding;
    top: 0;
  }
  &__shipping {
    width: 575px;
    max-width: 55%;
  }
  &__title {
    @extend %RubikBold;
    @include text-fz($fz-60, $fz-40, $fz-30);
    line-height: 70px;
  }
  &__desc {
    @include text-fz($fz-18, $base, $fz-14);
    margin: 32px 0 46px;
    line-height: 30px;
  }
  @media all and (max-width: 1340px) {
    &__title {
      @include font-size($fz-40);
      line-height: 45px;
    }
    &__desc {
      margin: 25px 0 35px;
      line-height: 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 50px;
    &__desc {
      margin: 10px 0 15px;
    }
    &__shipping {
      width: 430px;
    }
  }
  @include media-breakpoint-down(md) {
    &__title {
      margin-bottom: 50px;
    }
    &__shipping {
      width: 370px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    &__title {
      line-height: 30px;
    }
    &__desc {
      margin: 10px 0 15px;
    }
  }
  @include media-breakpoint-down(xs) {
    &__title {
      @include font-size($fz-26);
      br {
        display: none;
      }
    }
    &__desc {
      line-height: 16px;
      margin: 5px 0 10px;
    }
    &__shipping {
      max-width: 100%;
      overflow: hidden;
      width: 100%;
    }
  }
}

.addressForm {
  @include border-radius(50px);
  @include size(540px, auto);
  max-width: 100%;
  &::before {
    content: "\e804";
    font-family: "fontello";
    position: absolute;
    color: $red;
    top: 50%;
    transform: translateY(-50%);
    left: 36px;
  }
  &__input {
    @include size(inherit, 80px);
    @include placeholder;
    color: $baseColor;
    padding: 30px 210px 30px 68px;
  }
  &__btn {
    @include text-fz($base, $fz-14, $fz-12);
    @include border-radius(44px);
    @extend %RubikMedium;
    height: calc(100% - 12px);
    background: $redGradientButton;
    padding: 6px 25px;
    top: 6px;
    right: 6px;
  }
  @include media-breakpoint-down(lg) {
    @include size(450px, auto);
    &__input {
      @include size(inherit, 60px);
      padding: 20px 210px 20px 68px;
    }
  }
  @include media-breakpoint-down(md) {
    @include size(300px, auto);
    max-width: 100%;
    &::before {
      left: 20px;
    }
    &__input {
      @include size(inherit, 35px);
      padding: 10px 150px 10px 35px;
    }
    &__btn {
      padding: 0 18px;
    }
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
